<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moj.tvz.hr</title>
    <link rel="stylesheet" href="../static/styles4_ispit.css">
</head>
<body>
    <main>
        <div>
            <img src="../static/tvz-logo.png" alt="TVZ logo" width="150px">
            <form>
                <input type="text" id="username" name="username" placeholder="Korisničko ime @tvz.hr">
                <br>
                <input type="password" id="password" name="password" placeholder="Lozinka">
                <br>
                <input type="submit" id="Ulogiraj me" name="Ulogiraj me" placeholder="Ulogiraj me">
            </form>
        </div>
    </main>
</body>
</html>