<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna stranica</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="user_data">
            <p>
                Username
            </p>
            <img src="../static/user-icon.png" alt="User icon" width="50px">
        </div>
        <img src="../static/icon.png" alt="Kucica" width="50px">
    </header>
    <nav>
        <a href="">Logout</a>
        <a href="">Temperatura</a>
        <a href="">Vlaga</a>
    </nav>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Vrijeme</th>
                    <th>Temperatura</th>
                    <th>Brisanje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Datum1</td>
                    <td>23</td>
                    <td><button>Obriši</button></td><br>
                </tr>
                <tr>
                    <td>Datum1</td>
                    <td>23</td>
                    <td><button>Obriši</button></td><br>
                </tr>
                <tr>
                    <td>Datum1</td>
                    <td>23</td>
                    <td><button>Obriši</button></td><br>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>